<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.nimbuskit.template.prefixable</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Name</key>
			<string>Class Prefix</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>The prefix to prepend to all created classes</string>
			<key>Default</key>
			<string>NI</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
</dict>
</plist>
